.container {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: none;
  cursor: pointer;
  background-color: var(--light-accent-color);

  &:hover {
    background-color: var(--accent-color);
  }
}

.img {
  width: 14px;
  height: auto;
  background-size: cover;
}

.value {
  font-weight: 600;
  font-size: 17px;
  padding: 0 25px;
}
